# Prerequisites
*.d

#Compiled Shader Objects
*.csh
*.cso

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio Stuffs
Release
Debug
x64
x86
*.suo
*.sdf
*.db
*.opensdf
*.user
*.log

BombermanRoyale/BombermanRoyale/AnimPixel.csh
BombermanRoyale/BombermanRoyale/AnimVertex.csh
BombermanRoyale/BombermanRoyale/BasicPixel.csh
BombermanRoyale/BombermanRoyale/BasicVertex.csh
BombermanRoyale/BombermanRoyale/BombPShader.csh
BombermanRoyale/BombermanRoyale/BombShader.csh
BombermanRoyale/BombermanRoyale/LinePixel.csh
BombermanRoyale/BombermanRoyale/LineVertex.csh
BombermanRoyale/BombermanRoyale/SkyPixel.csh
BombermanRoyale/BombermanRoyale/SkyVertex.csh
*.ipch
BombermanRoyale/.vs/BombermanRoyale/v15/Browse.VC.opendb
